In [1]:
import pandas as pd
import hashlib as hb

In [2]:
score_a = pd.read_excel('./data/A班總成績.xlsx')
score_b = pd.read_excel('./data/B班總成績.xlsx')

In [3]:
score_a

,學號,姓名,Cloze,Short Ans,Assessment,學習行為(30%),筆試小考1,筆試小考2,上機小考1,上機小考2,...,期中筆試(15%),期末筆試(15%),期末上機(10%),加分,總成績,Unnamed: 17,目標成績,Unnamed: 19,90分以上,100分以上
0,105302302,鄭筠曦,93.333333,78.571429,93.333333,88.412698,85.19,88.0,10.0,30,...,70,62,10.0,6.53,79.01,NaN,60.0,NaN,16.0,6.0
1,105403018,康瀚中,89.333333,94.285714,100.000000,94.539683,87.10,90.0,100.0,100,...,95,84,100.0,8.48,103.19,NaN,NaN,NaN,NaN,NaN
2,105707001,周佩穎,54.466667,57.714286,50.000000,54.060317,0.00,88.0,80.0,60,...,72,69,40.0,2.04,65.31,NaN,NaN,NaN,NaN,NaN
3,106101002,林俞萱,98.666667,93.571429,96.666667,96.301587,81.62,80.5,0.0,30,...,74,74,10.0,5.51,80.71,NaN,NaN,NaN,NaN,NaN
4,106101008,陳又瑄,86.600000,81.428571,86.666667,84.898413,0.00,76.0,10.0,20,...,58,83,10.0,7.31,75.23,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,109408519,黃育靖,93.333333,86.000000,93.333333,90.888889,93.10,89.0,80.0,60,...,77,73,25.0,6.01,86.38,NaN,NaN,NaN,NaN,NaN
59,109408534,洪宇承,100.000000,100.000000,100.000000,100.000000,88.76,86.5,80.0,60,...,88,90,10.0,7.19,92.65,NaN,NaN,NaN,NaN,NaN
60,109408536,蔡宜勲,89.000000,84.285714,100.000000,91.095238,91.67,96.0,70.0,20,...,97,80,55.0,5.58,92.84,NaN,NaN,NaN,NaN,NaN
61,109408538,戴柏誠,95.866667,94.285714,96.666667,95.606349,87.43,81.0,70.0,60,...,81,84,40.0,6.56,90.91,NaN,NaN,NaN,NaN,NaN
62,109607004,蔣汶儒,97.733333,92.857143,96.666667,95.752381,86.43,98.0,100.0,100,...,90,98,100.0,8.80,105.63,NaN,NaN,NaN,NaN,NaN

In [4]:
score_a = score_a[['學號','總成績']].dropna(axis = 0,how='all')
score_b = score_b[['學號','總成績']].dropna(axis = 0,how='all')

In [5]:
score_df = pd.merge(score_a,score_b,how = 'outer')
score_df.columns = ['id','score']

In [6]:
score_df['score'] = score_df['score'].round(0).astype(int)

score_df.loc[score_df.score >=100,'score'] = 100

In [7]:
score_df['id'] = score_df['id'].astype('int').astype('str')

In [8]:
def md5(i):
    hl = hb.md5()
    
    hl.update(str(i).encode(encoding='utf-8'))

    #print('加密前為 ：' + str(i))
    #print('加密後為 ：' + hl.hexdigest())
    
    return hl.hexdigest()

score_df['id'] = score_df['id'].apply(md5)

In [9]:
score_df = score_df.rename(columns={'id': 'username'})

In [10]:
score_df.to_csv('./output/score.csv', encoding='utf8', index=False)

In [11]:
score_df.shape

(119, 2)