In [1]:
import pandas as pd
import hashlib as hb

In [2]:
! pip3 install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 20.2.4; however, version 22.1.2 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [3]:
score_a = pd.read_excel('./data/A班總成績.xlsx')
score_b = pd.read_excel('./data/B班總成績.xlsx')

In [4]:
score_b

,學號,姓名,Cloze,Short Ans,Assessment,學習行為(30%),筆試小考1,筆試小考2,上機小考1,上機小考2,...,期中筆試(15%),期末筆試(15%),期末上機(10%),加分,總成績,Unnamed: 17,目標成績,Unnamed: 19,90分以上,100分以上
0,105102502.0,鄭欣恬,49.333333,36.142857,0.00,28.492063,0.0,0.0,0.000000,0.0,...,70.0,0.0,0.0,0.00,19.05,退選,60.0,NaN,22.0,5.0
1,105202007.0,卜冠州,90.466667,94.285714,96.67,93.807460,94.0,88.0,80.000000,60.0,...,85.0,71.0,65.0,8.68,94.82,NaN,NaN,NaN,NaN,NaN
2,106103503.0,宋育萱,97.200000,98.571429,100.00,98.590476,98.0,85.0,70.000000,60.0,...,82.0,89.0,40.0,7.04,92.42,NaN,NaN,NaN,NaN,NaN
3,106103511.0,沈岱璇,93.333333,92.857143,76.67,87.620159,65.0,64.5,50.000000,70.0,...,71.0,78.0,8.0,7.43,81.84,NaN,NaN,NaN,NaN,NaN
4,106206008.0,歐奕辰,96.000000,80.000000,63.33,79.776667,97.0,92.0,100.000000,100.0,...,94.0,87.0,100.0,9.24,100.17,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.678571,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
score_a = score_a[['學號','總成績']].dropna(axis = 0,how='all')
score_b = score_b[['學號','總成績']].dropna(axis = 0,how='all')

In [6]:
score_a['class'] = 'a'
score_b['class'] = 'b'

In [8]:
score_df = pd.merge(score_a, score_b,how = 'outer')
score_df.columns = ['id','score', 'class']

In [9]:
score_df['score'] = score_df['score'].round(0).astype(int)

score_df.loc[score_df.score >=100,'score'] = 100

In [10]:
score_df['id'] = score_df['id'].astype('int').astype('str')

In [11]:
def md5(i):
    hl = hb.md5()
    
    hl.update(str(i).encode(encoding='utf-8'))

    #print('加密前為 ：' + str(i))
    #print('加密後為 ：' + hl.hexdigest())
    
    return hl.hexdigest()

score_df['id'] = score_df['id'].apply(md5)

In [12]:
score_df = score_df.rename(columns={'id': 'userid'})

In [13]:
score_df.to_csv('./output/score.csv', encoding='utf8', index=False)

In [14]:
score_df.shape

(119, 3)

In [15]:
score_df

                               userid  score class
0    4e3519d7eafbfccdae231756fcf2ce9c     79     a
1    379bbc4c2c728db0a249e8c4e6b621af    100     a
2    1361825bdeb54e5153e74389df8a2a10     65     a
3    4f9f1b81a07e3a192853ab1099a68fca     81     a
4    479e88f02385c56f386d07d59f02a3b2     75     a
..                                ...    ...   ...
114  93229bfed1b03a573e6139c21fc4e5c7     73     b
115  f5e00dfd7cb43f85c86dd5373da9516c      3     b
116  7ba601138e531ca65131aaafdd0b0fca     81     b
117  64d3bd3b339f63a66b8c878b561551d8     79     b
118  02d679ad650962b6ae8bf8adbeeb33c1     59     b

[119 rows x 3 columns]